html {
  scroll-behavior: smooth !important;
}
/* Search Result */
.card {
  width: 100%;
  padding: 20px !important;
  background-color: rgb(223, 219, 219);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.card .row {
  padding: 20px;
}
/* Search Result End */

/* Profile */
.notifications {
  margin-top: 70px;
}
/* Profile End */
